*{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
padding: 0;
}



html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.botao:hover {
    background-color: blue;
    color: white;
}

.botao login1{

    background-color: green;
    color: white;
    font: bold;

}

header {

    border-bottom: 3px solid blue;
    height: 40px;
    width: 100%;

}

.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.logo{

    display: flex;
    height: 40px;
    width: 30px;
    
}

.active{

display: flex;
overflow: hidden;



}


.botao {

    background-color: white;
    color: navy;
    font-style: bold;
    height: 32px;
    width: 100%;
    padding: 8px 15px;
    border-radius: 6px;
}
.selecionado
{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.login1 {

    background-color: green;
    color: white;
    font-weight: bold;

}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, 0.144);
    height: fit-content;
    width: fit-content;
    gap: 15px;
    border-radius: 5px;
    padding: 20px 40px;
}

.box input {

    width: 250px;
    padding: 10px 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.box button {

    width: 100%;
    padding: 7px;
    border: none;
    background-color: rgb(37, 37, 255);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.box > h1
{
    color: blue;
}

.butoes {

    height: 25px;
    width: 200px;
    border-radius: 5px;

}

.box img {
    height: 50px;
    width: 60px;
}

